@font-face {
  font-family: futura;
  src: url('../fonts/Futura-Medium.woff');
}

@font-face {
  font-family: baofont;
  src: url('../fonts/bao_font.otf');
}

.floatLeft {
  float: left;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}

#bg_container {
    height: 100vh;
    overflow: hidden;
}

#bg {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bao-font{
  font-family: baofont;
}

.img-logo {
    width: 250px;
    padding-bottom: 5px;
 }
 
 .img-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 75%;
 }
 
 .img-footer {
   margin-left: auto;
   margin-right: auto;
   height: auto;
   width: 90%;
 }
 
 .img-blog {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
 }
 
 .blog-link {
   font-size: 1.5em;
 }
 
 .blog-blurb {
   font-size: 1em;
 }
 
 .icon-link {
   padding: 0 20px 0 20px;
   width: 100px;
   height: 60px;
 }
 
 
 /* ABOUT US PAGE */
 .about_img {
   width: 100%;
 }

 /* STAFF PAGE */
.bg-light-custom {
  background-color: #E7E7E7;
}

.staff-page .staff-member, .staff-page .summary {
  background-color: white;
  padding: 0 1%;
  border-radius: 0 0 10px 10px;
  filter: drop-shadow(0 0 0.1rem #dfdfdf);
  height: 400px;
}

.staff-page .summary {
  border-radius: 10px;
  height: 750px;
  padding: 2%;
}

.summary div, .summary h2 {
  margin-bottom: 10px;
}

.staff-page .col-md-6 img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  filter: drop-shadow(0 0 0.1rem #dfdfdf);
}

.staff-page h2 {
  padding-top: 15px;
  font-family: 'baofont';
}

.staff-page h4 {
  font-size: 14px;
  margin-bottom: 15px;
}

.bio {
  padding: 10px;
  height: 275px;
  overflow-y: scroll;
}
 
.department {
  height: 3px;
  width: 60%;
  margin: 0 20%;
}

.combo div {
  width: 30%;
  margin: 0;
  float: left;
}

.combo .comms, .combo .activation{
  margin-left: 20%;
}

.combo .board{
  margin-right: 20%;
}

.clear {
  clear:both;
}

.col-lg-2 {
  padding: 5px 0;
}

.comms {
  background-color: #F9C833;
}

.activation {
  background-color: #000;
}

.activation-text {
  color: #fff;
}

.people {
  background-color: #7A4088;
}

.board {
  background-color: #67CB99;
}

.advisory {
  background-color: #F5C8CA;
}

.member-button{
  display: block;
  margin: auto;
  margin-top: 35px;
  width: 200px;
  background-color: black;
  color: white;
  padding: 15px 30px;
}

.member-button:hover{
  color:#67CB99;
}

/* SLIDESHOW */
/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -50%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
      margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
  }
  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }
  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {


  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}